<a href="https://colab.research.google.com/github/Rosangelafl/embaixadoras-dados-covid19/blob/master/Covid_plotly_05_06_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Análise dos dados de Covid 19 e viz com plotly.

Fonte dos dados.:planilha excel compartilhada na véspera da ameaça de apagão dos dados em 5 de junho 2020

link.: https://t.co/hcgPBLyhzv?amp=1

In [ ]:
import pandas as pd

In [ ]:
file = '/content/drive/My Drive/covid.xlsx'
df = pd.read_excel(file)
df.head()

   regiao estado  ... Recuperadosnovos  emAcompanhamentoNovos
0  Brasil    NaN  ...              NaN                    NaN
1  Brasil    NaN  ...              NaN                    NaN
2  Brasil    NaN  ...              NaN                    NaN
3  Brasil    NaN  ...              NaN                    NaN
4  Brasil    NaN  ...              NaN                    NaN

[5 rows x 16 columns]

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df.columns.tolist()

['regiao',
 'estado',
 'municipio',
 'coduf',
 'codmun',
 'codRegiaoSaude',
 'nomeRegiaoSaude',
 'data',
 'semanaEpi',
 'populacaoTCU2019',
 'casosAcumulado',
 'casosNovos',
 'obitosAcumulado',
 'obitosNovos',
 'Recuperadosnovos',
 'emAcompanhamentoNovos']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164862 entries, 0 to 164861
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   regiao                 164862 non-null  object
 1   estado                 164759 non-null  object
 2   municipio              161182 non-null  object
 3   coduf                  164862 non-null  int64
 4   codmun                 161978 non-null  float64
 5   codRegiaoSaude         161182 non-null  float64
 6   nomeRegiaoSaude        161182 non-null  object
 7   data                   164862 non-null  datetime64[ns]
 8   semanaEpi              164862 non-null  int64
 9   populacaoTCU2019       164066 non-null  object
 10  casosAcumulado         164862 non-null  int64
 11  casosNovos             164862 non-null  int64
 12  obitosAcumulado        164862 non-null  int64
 13  obitosNovos            164862 non-null  int64
 14  Recuperadosnovos       49 non-null      float64
 15  emAcompanhamentoNovos  49 non-null      float64
dtypes: datetime64[ns](1), float64(4), int64(6), object(5)
memory usage: 20.1+ MB

In [ ]:
df.isnull().sum()

regiao                        0
estado                      103
municipio                  3680
coduf                         0
codmun                     2884
codRegiaoSaude             3680
nomeRegiaoSaude            3680
data                          0
semanaEpi                     0
populacaoTCU2019            796
casosAcumulado                0
casosNovos                    0
obitosAcumulado               0
obitosNovos                   0
Recuperadosnovos         164813
emAcompanhamentoNovos    164813
dtype: int64

In [ ]:
df = pd.read_excel('/content/drive/My Drive/covid.xlsx', usecols=['estado', 'data', 'semanaEpi','casosAcumulado', 'casosNovos', 'obitosAcumulado', 'obitosNovos'])
df.head()

  estado       data  semanaEpi  ...  casosNovos  obitosAcumulado  obitosNovos
0    NaN 2020-02-25          9  ...           0                0            0
1    NaN 2020-02-26          9  ...           1                0            0
2    NaN 2020-02-27          9  ...           0                0            0
3    NaN 2020-02-28          9  ...           0                0            0
4    NaN 2020-02-29          9  ...           1                0            0

[5 rows x 7 columns]

In [ ]:
df.data.describe()

count                  164862
unique                    103
top       2020-06-06 00:00:00
freq                     4419
first     2020-02-25 00:00:00
last      2020-06-06 00:00:00
Name: data, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164862 entries, 0 to 164861
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   estado           164759 non-null  object
 1   data             164862 non-null  datetime64[ns]
 2   semanaEpi        164862 non-null  int64
 3   casosAcumulado   164862 non-null  int64
 4   casosNovos       164862 non-null  int64
 5   obitosAcumulado  164862 non-null  int64
 6   obitosNovos      164862 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 8.8+ MB

In [ ]:
#Agrupando por data,semana epidemiologica por ultimos confirmados e mortos
df.agrupado = df.groupby(['data', 'semanaEpi'])['casosAcumulado', 'casosNovos'].sum().reset_index()
df.agrupado.sort_values(by='casosNovos', ascending=False)

          data  semanaEpi  casosAcumulado  casosNovos
95  2020-05-30         22         1495320      100612
100 2020-06-04         23         1844823       92915
101 2020-06-05         23         1937313       92251
98  2020-06-02         23         1666149       87244
99  2020-06-03         23         1752048       85542
..         ...        ...             ...         ...
5   2020-03-01         10               4           0
13  2020-03-09         11              50           0
3   2020-02-28          9               2           0
2   2020-02-27          9               2           0
0   2020-02-25          9               0           0

[103 rows x 4 columns]

In [ ]:
df_estados = df.groupby(['estado', 'data', 'semanaEpi'])['obitosAcumulado', 'obitosNovos'].sum().reset_index()

In [ ]:
df_estados.head(10)

  estado       data  semanaEpi  obitosAcumulado  obitosNovos
0     AC 2020-02-25          9                0            0
1     AC 2020-02-26          9                0            0
2     AC 2020-02-27          9                0            0
3     AC 2020-02-28          9                0            0
4     AC 2020-02-29          9                0            0
5     AC 2020-03-01         10                0            0
6     AC 2020-03-02         10                0            0
7     AC 2020-03-03         10                0            0
8     AC 2020-03-04         10                0            0
9     AC 2020-03-05         10                0            0

In [ ]:
df_estados.estado.value_counts(10)

SE    0.037037
CE    0.037037
DF    0.037037
GO    0.037037
MT    0.037037
AP    0.037037
SP    0.037037
PI    0.037037
AC    0.037037
RR    0.037037
RJ    0.037037
SC    0.037037
MA    0.037037
RN    0.037037
MG    0.037037
PB    0.037037
PR    0.037037
TO    0.037037
PE    0.037037
PA    0.037037
AL    0.037037
RS    0.037037
RO    0.037037
AM    0.037037
BA    0.037037
ES    0.037037
MS    0.037037
Name: estado, dtype: float64

In [ ]:
estados_total = df_estados.estado.value_counts().sort_values(ascending=False)

In [ ]:
temp = df.groupby(['data'])['obitosAcumulado','obitosNovos'].sum().reset_index()
temp

          data  obitosAcumulado  obitosNovos
0   2020-02-25                0            0
1   2020-02-26                0            0
2   2020-02-27                0            0
3   2020-02-28                0            0
4   2020-02-29                0            0
..         ...              ...          ...
98  2020-06-02            93597         3790
99  2020-06-03            97644         4055
100 2020-06-04           102063         4422
101 2020-06-05           105078         3028
102 2020-06-06           107790         2726

[103 rows x 3 columns]

In [ ]:
#função melt do pandas para remodelar o dataframe com variável e valor, para ter a quantidade de casos
temp = temp.melt(id_vars='data', value_vars=['obitosAcumulado', 'obitosNovos'], 
                 var_name='Case', value_name='Count')

In [ ]:
temp.head(20)

         data             Case  Count
0  2020-02-25  obitosAcumulado      0
1  2020-02-26  obitosAcumulado      0
2  2020-02-27  obitosAcumulado      0
3  2020-02-28  obitosAcumulado      0
4  2020-02-29  obitosAcumulado      0
5  2020-03-01  obitosAcumulado      0
6  2020-03-02  obitosAcumulado      0
7  2020-03-03  obitosAcumulado      0
8  2020-03-04  obitosAcumulado      0
9  2020-03-05  obitosAcumulado      0
10 2020-03-06  obitosAcumulado      0
11 2020-03-07  obitosAcumulado      0
12 2020-03-08  obitosAcumulado      0
13 2020-03-09  obitosAcumulado      0
14 2020-03-10  obitosAcumulado      0
15 2020-03-11  obitosAcumulado      0
16 2020-03-12  obitosAcumulado      0
17 2020-03-13  obitosAcumulado      0
18 2020-03-14  obitosAcumulado      0
19 2020-03-15  obitosAcumulado      0

In [ ]:
# Habilita modo offline
from plotly.offline import plot, iplot, init_notebook_mode
init_notebook_mode(connected=True)

In [ ]:
import plotly.io as pio
pio.renderers
pio.renderers.default = "colab"

In [ ]:
acumulados = '#21bf73'
novos = '#ff2e63'

In [ ]:
import plotly.express as px
fig = px.area(temp, 
              x='data', 
              y="Count", 
              color='Case', 
              height= 700,
              title='Covid 19 até 5 de março 2020',
              color_discrete_sequence = [acumulados, novos])
fig.update_layout(xaxis_rangeslider_visible=True)
fig.show()

In [ ]:
!pip install chart_studio

Collecting chart_studio
  Downloading https://files.pythonhosted.org/packages/ca/ce/330794a6b6ca4b9182c38fc69dd2a9cbff60fd49421cb8648ee5fee352dc/chart_studio-1.1.0-py3-none-any.whl (64kB)
     |████████████████████████████████| 71kB 2.7MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from chart_studio) (2.23.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from chart_studio) (4.4.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.3.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2020.6.20)
Installing collected packages: chart-studio
Successfully installed chart-studio-1.1.0

In [ ]:
import chart_studio
import chart_studio.plotly as cs_py
chart_studio.tools.set_credentials_file(username='Rosangelafl', api_key='aLUuxTUyYFvA1kH648bS')
cs_py.plot(fig, filename='Covid 19 até 5 de junho de 2020', auto_open=True)

'https://plotly.com/~Rosangelafl/16/'

In [ ]:
temp2 = df.groupby(['semanaEpi'])['casosAcumulado','casosNovos'].sum().reset_index()
temp2

    semanaEpi  casosAcumulado  casosNovos
0           9              10           4
1          10              96          34
2          11             864         204
3          12            7612        2014
4          13           40524        5550
5          14          146006       18823
6          15          333635       31020
7          16          600434       47344
8          17          988677       65794
9          18         1656008      113004
10         19         2655779      177742
11         20         4055628      231206
12         21         6140497      341403
13         22         8829597      455939
14         23        12340812      521958

In [ ]:
temp2 = temp2.melt(id_vars='semanaEpi', value_vars=['casosAcumulado', 'casosNovos'], 
                 var_name='Case', value_name='Count')

In [ ]:
temp2.head()

   semanaEpi            Case  Count
0          9  casosAcumulado     10
1         10  casosAcumulado     96
2         11  casosAcumulado    864
3         12  casosAcumulado   7612
4         13  casosAcumulado  40524

In [ ]:
acumulados = '#21bf73'
novos = '#ff2e63'

In [ ]:
import plotly.express as px
grafico = px.area(temp2, 
              x='semanaEpi', 
              y='Count', 
              color='Case', 
              height= 600,
              title='Semanas epidemiológicas até 5 de março',
              color_discrete_sequence = [acumulados, novos])
grafico.update_layout(xaxis_rangeslider_visible=True)
grafico.show()

In [ ]:
chart_studio.tools.set_credentials_file(username='Rosangelafl', api_key='aLUuxTUyYFvA1kH648bS')
cs_py.plot(fig, filename='Covid 19, semanas epidemiológicas até 5 de junho de 2020', auto_open=True)

'https://plotly.com/~Rosangelafl/19/'